@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400;600&display=swap');

$firstLinear: linear-gradient(155.76deg, #FC6681 0.82%, #7b3085 100%);
$secondLinear: linear-gradient(180deg, #0f96e4 0%, #d1d1d1 100%);

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: #140630;
  flex-wrap: wrap;
  gap: 10ch;
  padding: 5rem;

  .textContainer {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.329);
    padding: 2rem;
    overflow: hidden;
    position:relative;
  }
  
  .textShadow {
    text-transform: uppercase;
    font-family: 'Kodchasan', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: #516fc0;
    text-shadow: 1px 1px 1px #243a77,
        1px 2px 1px #243a77,
        1px 3px 1px #243a77,
        1px 4px 1px #243a77,
        1px 5px 1px #243a77,
        1px 6px 1px #243a77,
        1px 7px 1px #243a77,
        1px 8px 1px #243a77,
        1px 9px 1px #243a77,
        1px 10px 1px #243a77,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }

  .text {
    font-family: 'Kodchasan', sans-serif;
    background: $firstLinear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 5em;
  }
  
  .text2 {
    font-family: 'Kodchasan', sans-serif;
    background: $secondLinear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 5em;
  }
}